*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    font-family: Arial;
    border: none;
    box-sizing: border-box;
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
}
:root {
    --light-gray: #8c8ca580;
    --white: #ffffff;
    --small-font: 8px;
    --medium-font: 12px;
    --font: 16px;
    --large-font: 20px;
    --border-color: #8c8ca580;
    --black: #000;
}
.wrapper {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin: auto;
}
header,
footer,
nav,
section,
content {
    width: 100%;
    display: inline-block;
}

.service-row-1{
    margin-top: 40px;
    padding: 30px 0;
    background: url(images/second-center-image.png) no-repeat center;
    background-size: cover;
    border-radius: 20px;
}
.service-row-1-col1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-row-1-col1 h2,p{
    color: var(--white);
}
.service-row-1-col1 p{
    font-size: var(--font);
    padding: 20px 0;
}
.service-row-1-col1 a i{
    padding: 5px 10px;
}
.service-row-1-col1 a{
    display: block;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 5px 10px;
    border-radius: 5px;
    transition: all linear 0.2s;
}
.service-row-1-col1 a:hover{
    background: var(--light-gray);
}
.services-row-2{
    margin-top: 50px;
    padding: 50px 0;
}
.services-row-2-col1 h2{
    padding: 30px 0;
}
.services-row-2-col1-inn{
    background: #fff;
    box-shadow: 0 0 5px 2px #ccc;
    padding: 25px 5px;
    display: inline-block;
    border-radius: 10px;
    margin: 20px 10px;
}
.services-row-2-col1-inn img{
    float: left;
    width: 40px;
    height: 35px;
}
.services-row-2-col1-inn p{
    font-size: 16px;
    color: var(--black);
    padding: 8px 10px;
    display: inline-block;
}
.services-row-2-col1-inn p i{
    padding: 0px 10px;
    display: inline-block;
}