/* * {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    font-family: Arial;
    border: none;
    box-sizing: border-box;
  }
  :root {
    --light-gray: #8c8ca580;
    --white: #ffffff;
    --small-font: 8px;
    --medium-font: 12px;
    --font: 16px;
    --large-font: 20px;
    --border-color: #8c8ca580;
  }
  .wrapper {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin: auto;
  }
  header,
  footer,
  nav,
  section,
  content {
    width: 100%;
    display: inline-block;
  } */