/* 8px
14px 
20px
24px
30px */

/* 
blue
sky-blue
navy-blue

red
dark-red
*/

:root {
  --light-blue: #0072bb;
  --white: #ffffff;
  --small-font: 8px;
  --medium-font: 12px;
  --font: 16px;
  --large-font: 20px;
}

/* Custom Content Always */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: Arial;
}

.wrapper {
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: auto;
}

header,
content,
footer,
section {
  width: 100%;
  display: inline-block;
}

/* ...Custom Content Always... */

/* ........NAV...START........*/

.row-1 {
  background: url(images/background-1.png) no-repeat center;
  background-size: auto;
  background-size: cover;
  padding: 10px 0;
}

.row-1-col-1 {
  display: inline-block;
  width: 100%;
  padding: 0 10px;
}

.row-1-col-1 .logo {
  float: left;
}

.row-1-col-1 ul {
  display: flex;
  float: left;
  margin-top: 10px;
  margin-left: 5%;
}

.row-1-col-1 ul li {
  margin: 0px 5px;
}

.row-1-col-1 ul li a {
  color: #fff;
  font-size: 18px;
  font-family: Century Gothic;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.row-1-col-1 ul li :hover {
  background: #0072bb;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--light-blue), 0 0 25px var(--light-blue),
    0 0 50px var(--light-blue), 0 0 100px var(--light-blue);
}

.row-1-col-1 .menu-btn i {
  font-size: 30px;
  float: right;
  color: #fff;
  cursor: pointer;
  margin: 32px 40px;
  display: none;
}

#clickss {
  display: none;
}

/* ........NAV....END........ */
.signin {
  float: right;
  margin-top: 10px;
}

.signin a {
  font-size: 20px;
  color: #fff;
  border: 1px solid #0072bb;
  padding: 10px 20px;
  border-radius: 5px;
  transition: linear all 0.2s;
  font-weight: bold;
}

.signin a:hover {
  background: #0072bb;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #0072bb, 0 0 25px #0072bb, 0 0 50px #0072bb,
    0 0 100px #0072bb;
}

.row-1-col-2 {
  display: inline-block;
  padding-top: 195px;
  padding-bottom: 175px;
  padding-left: 1%;
  padding-right: 1%;
}

.row-1-col-2 h2,
p {
  font-size: 35px;
  color: #fff;
  padding: 10px 0;
}

.row-1-col-2 p {
  font-size: 18px;
}

.row-1-col-2 a {
  font-size: 18px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  background: none;
  display: inline-block;
  margin: 10px 0;
  border: 2px solid #0072bb;
  transition: linear all 0.2s;
  font-weight: bold;
}

.row-1-col-2 a:hover {
  background: #0072bb;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #0072bb, 0 0 25px #0072bb, 0 0 50px #0072bb,
    0 0 100px #0072bb;
}
