:root {
  --light-gray: #8c8ca580;
  --white: #ffffff;
  --small-font: 12px;
  --medium-font: 18px;
  --font: 16px;
  --large-font: 30px;
  --border-color: #8c8ca580;
  --sansarif: "myFont";
}
@font-face {
  font-family: myFont;
  src: url(images/san.ttf.ttf);
}
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  font-family: Arial;
  border: none;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: auto;
}

header,
footer,
nav,
section,
content {
  width: 100%;
  display: inline-block;
}
.services {
  padding: 70px 0px;
}
.services-col-1 {
  display: flex;
}
.services-img {
  float: left;
}
.services-img img {
  width: 470px;
  border-radius: 20%;
  padding: 55px 20px;
}
.services-text {
  float: right;
  padding: 30px;
}
.services-text h2 {
  font-size: 30px;
  color: #333;
  font-family: var(--sansarif);
}
.services-text p {
  font-size: var(--font);
  color: #333;
  padding: 26px 0;
  line-height: 24px;
  font-family: var(--sansarif);
}
.services-ul ul {
  display: inline-block;
}
.services-ul ul li {
  background: #fff;
  box-shadow: 3px 2px 3px 2px #ccc;
  margin: 15px 20px 0 0;
  border-radius: 0px 25px 25px 0px;
  transition: linear all 0.2s;
}
.services-ul ul li i {
  border-right: 2px solid #ccc;
  font-size: 20px;
  padding: 10px 10px;
  color: cornflowerblue;
}
.services-ul ul li a {
  font-size: 18px;
  padding: 0px 20px;
  display: inline-block;
  font-family: var(--sansarif);
}
.services-ul ul li:hover {
  box-shadow: 0 0 2px #8c8ca580, 0 0 20px #8c8ca580, 0 0 5px #8c8ca580,
    0 0 19px #8c8ca580;
}
