* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    font-family: Arial;
    border: none;
    box-sizing: border-box;
  }
  
  .wrapper {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin: auto;
  }
  
  header,
  footer,
  nav,
  section,
  content {
    width: 100%;
    display: inline-block;
  }
  .services {
    padding: 70px 0px;
  }
  .row {
    display: flex;
    margin: 0px 0px 0px 40px;
  }
  .devImg {
    display: inline-block;
  }
  .devImg img {
    padding: 80px 24px;
    width: 500px;
  }
  
  .devCont {
    width: 50%;
    padding: 65px 0px;
  }
  .devCont .para h1 {
    font-size: 32px;
    color: darkslategrey;
  }
  .devCont .para p {
    padding: 30px 0px;
    color: darkslategrey;
    font-size: 17px;
    line-height: 24px;
    width: calc(100% - 50px);
  
    word-spacing: 5px;
  }
  .list {
    display: flex;
  }
  .list .col_1 {
    display: inline-block;
  }
  .list .col_2 {
    display: inline-block;
    margin: 0px 0px 0px 70px;
  }
  .list .list_style {
    letter-spacing: 2px;
    word-spacing: 4px;
    background: rgb(255, 255, 255);
    width: 225px;
    text-align: center;
    padding: 10px 11px;
    border-radius: 0px 25px 25px 0px;
    box-shadow: 2px 2px 11px -3px grey;
    margin-bottom: 17px;
    font-size: 15px;
    color: darkslategrey;
    transition: linear all 0.2s;
    font-weight: bold;
  }
  .list .list_style:hover {
    background-color: #0072bb;
    color: #fff;
    border-radius: 0px 25px 25px 0px;
    box-shadow: 0 0 5px #0072bb, 0 0 25px #0072bb, 0 0 50px #0072bb, 0 0 100px #0072bb;
  }